body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aqua;
}

.TeamList {
  margin: 50px 50px;
  cursor: pointer;
}

.TeamList div {
  padding: 25px;
  /* border: 1px solid white; */
  width: 40vh;
  margin: 0 auto;
  color: aqua;
  box-shadow: 0 1px 6px 0 rgba(49,53,59,0.12);
}

.logo img {
  width: 40vh;
  height: 40vh;
}

.league button {
  cursor: pointer;
}